*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    height: 100vh;
}

.chat-entries-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 60px;
}

.chat-input{
    width: 45%;
    padding: 12px 15px;
    border-radius: 5px;
    border: 1px solid #CACACA;
}

.btn-send{
    width: 100px;
    background-color: #2BB6ED;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.02rem;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
}

.btn-send:hover{
    background-color: #036CAE;
    color: antiquewhite;
}

.chat-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    overflow-y: scroll;
    scrollbar-width: none;
    flex-grow: 1;
    padding: 10px 0;
}

.chat-msg-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.bot{
    justify-content: start;
}

.human{
    justify-content: end;
}

.chat-msg{
    width: 50%;
    max-width: 250px;
    padding: 10px;
    background-color: rgba(169, 169, 169, 0.336);
    border-radius: 5px;
}